SUPABASE_PUBLISHABLE_KEY="sb_publishable_CclabKApx83PUv57rofrqw_PXRZnXCe"
SUPABASE_URL="https://iffrbkvgciimssrxfukt.supabase.co"
VITE_SUPABASE_PROJECT_ID="iffrbkvgciimssrxfukt"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_CclabKApx83PUv57rofrqw_PXRZnXCe"
VITE_SUPABASE_URL="https://iffrbkvgciimssrxfukt.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmZnJia3ZnY2lpbXNzcnhmdWt0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NTg2NjEsImV4cCI6MjA5MzUzNDY2MX0.j9HnvxHLPBL1JeG6l0Xw-Qsq5IriACXQtG34T83OwVc"
VITE_GOOGLE_MAPS_API_KEY="AIzaSyC9tSIiU5IUrEhZL0HduAKn78D13h1hVgY"
